[main]
BASE_URL = https://online.fusion-lifestyle.com/Connect3/MRMLogin.aspx
VISIBILITY = True

[goldenlane]
LOGIN = <GOLDENLANE LOGIN>
PASSWORD = <GOLDENLANE PASSWORD>

[mail]
LOGIN = <YOUR GMAIL LOGIN>
PASSWORD = <YOUR GMAIL PASSWORD>
TO = <LIST OF COMMA SEPARATED RECIPIENTS TO SEND EMAIL TO>

[booking]
# True to send booking
EMAIL = True
# True to perform booking
BOOKING = False
DAYS_AHEAD = 7
# only hour
START_TIME = 12
END_TIME = 13